<div data-options="dxView : { name: 'About', title: 'About' } " >
    <div  data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div class="about" data-bind="dxScrollView: {}">
            <h1>RealtorApp</h1>
            <p>This is a simple app for searching property listings.</p>
            <p>Powered by <a target="_blank" href="http://www.devexpress.com/Products/HTML-JS/">DevExpress Mobile Framework</a>.</p>
            <p>If you have any questions about DevExtreme or PhoneJS, do not hesitate to contact our <a target="_blank" href="http://www.devexpress.com/support/center/">support team</a>.</p>
        </div>
    </div>
</div>