<div data-options="dxView : { name: 'home', title: 'Home' } " >
    <div class="home-view"  data-options="dxContent : { targetPlaceholder: 'content' } " >
        <p>To learn more about PhoneJS, visit <a href="http://phonejs.devexpress.com">http://phonejs.devexpress.com</a>, where you can find documentation, feature demonstrations, and various tutorials.</p>
        <p>If you have any questions about PhoneJS, do not hesitate to contact our support team via <a href="http://www.devexpress.com/support/center/">http://www.devexpress.com/support/center/</a>.</p>
    </div>
</div>