<?xml version='1.0' encoding='utf-8'?>
<widget id="es.sernaleon.charlie" version="1.0.0" xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Charlie</name>
    <description>
        Charlie the robot.
    </description>
    <author email="arturo@sernaleon.es" href="http://sernaleon.es">
        Arturo Serna Leon
    </author>
    <feature name="http://api.phonegap.com/1.0/device"/>
    <preference name="permissions" value="none"/>
    <preference name="orientation" value="landscape"/>
    <preference name="target-device" value="universal"/>
    <preference name="fullscreen" value="true"/>
    <preference name="webviewbounce" value="true"/>
    <preference name="prerendered-icon" value="true"/>
    <preference name="stay-in-webview" value="false"/>
    <preference name="detect-data-types" value="true"/>
    <preference name="exit-on-suspend" value="false"/>
    <preference name="show-splash-screen-spinner" value="true"/>
    <preference name="auto-hide-splash-screen" value="true"/>
    <preference name="disable-cursor" value="false"/>
    <preference name="android-minSdkVersion" value="7"/>
    <preference name="android-installLocation" value="auto"/>
    <icon src="img/icon.png"/>
    <access origin="*"/>
    <gap:plugin name="com.boyvanderlaak.cordova.plugin.orientationchanger" version="0.1.1" />
    <gap:plugin name="nl.x-services.plugins.insomnia" version="3.0" />
    <gap:plugin name="nl.x-services.plugins.toast" version="1.0" />
    <gap:plugin name="org.apache.cordova.device-motion" version="0.2.6" />
</widget>
