<div data-options="dxView : { name: 'about', title: 'About' } " >
    <div  data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div data-bind="dxScrollView: {}">
            <p style="padding: 5px">Modify this view to describe your application and provide additional information.</p>
            <p style="padding: 5px">To learn more about PhoneJS, visit <a href="http://phonejs.devexpress.com">http://phonejs.devexpress.com</a>, where you can find documentation, feature demonstrations, and various tutorials.</p>
            <p style="padding: 5px">If you have any questions about PhoneJS, do not hesitate to contact our support team via <a href="http://www.devexpress.com/support/center/">http://www.devexpress.com/support/center/</a>. </p>
	</div>
    </div>
</div>