html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

#container {
    /*background-color: purple;*/
    width:  calc(100% - 60px);
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    border: 0;
}

#sliderContainer {
    position: absolute;
    width: 40px;
    height: calc(100% - 20px);
    top: 10px;
    left: 10px;
    z-index: 999;

}
input[type=range]#slider {
    height: 100%;
    width: 100%;
    -webkit-appearance: slider-vertical;
    -webkit-transform:rotate(180deg);
}

#btMove {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 30px;
}


#camFrame {
    height: 100%;
    width: 100%;
    border: 0;
}

#overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

#play {
    display: none;
    z-index: 999;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid green;
    position: absolute;
    top: 10px;
    left: 70px;
    opacity: 0.5;
}